h1 {
	font-family: "Tangerine", cursive;
	margin: 1.3%;
}

li {
	width: 80%;
	height: 10%;
	margin-top: 3%;
	margin-left: 5%;
	border: none;
	box-shadow: rgb(230, 230, 230) 3px 3px 2px 2px;
	font-family: "Assistant", sans-serif;
	font-size: 90%;
	font-weight: bold;
	display: grid;
	align-items: center;
	cursor: pointer;
}